*
{
    margin: 0;
    padding: 0;
}



.sky
{
    height: 100vh;
    width: 100%;
    position: absolute;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
}

.trees
{
    height: 100vh;
    width: 100%;
    background-image: url(trees.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 30vh;
}

.track
{
    height: 100vh;
    width: 800vw;
    background-image: url(track.png);
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    position: absolute;
    top:70vh;
    animation: carMove linear 5s infinite;
}

.car
{
    height: 100px;
    width: 380px;
    background-image: url(car_body.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 444px;
    bottom: 30vh;
    animation: carShake linear 0.6s infinite;
}

body
{
    animation: shakeBody linear 3s infinite;
}

/* .wheel
{
    width: 70px;
    position: relative;
    top: 44px;
    left: 30px;
} */

.wheel1 img
{
    width: 60px;
    position: relative;
    top: 45px;
    left: 51px;
    animation: wheelRotation linear 0.6s infinite
}

.wheel2 img
{
    width: 65px;
    position: relative;
    top: -18px;
    left: 240px;
    animation: wheelRotation linear 0.6s infinite
}

@keyframes wheelRotation 
{
    100%
    {
        transform: rotate(360deg);
    }
}

@keyframes carMove
{
    100%
    {
        transform: translate(-500vw);
    }
}

@keyframes carShake 
{
    10%
    {
        transform: translate(-5px);
    }
    40%
    {
        transform: translate(5px);
    }
    100%
    {
        transform: translate(-5px);
    }
}

@keyframes shakeBody 
{
    10%
    {
        transform: translate(-50px);
    }
    40%
    {
        transform: translate(50px);
    }
    100%
    {
        transform: translate(-50px);
    }
}